@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');


:root{
    --cor-fundo-: #fdc6cf;
    --cor-branco: #ffff;
    --cor-texto: #000000;
}

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Segoe UI';
    background-color: var(--cor-fundo-);
}

a{
    text-decoration: none;
    color: var(--cor-texto);
}
/* NAVBAR */

nav {
    background-color: var(--cor-branco);
}

#logo {
    width: 70px;
    height: 70px;
}

.titulo-nav {
    color: var(--cor-texto);
    text-decoration: none;
    opacity: 1;
}

.titulo-nav:hover {
    transition: 500ms;
    background-color: var(--cor-fundo-);
    border-radius: 5%;
    padding: 10px;
    box-shadow: 0 3px 3px 0px #888888 ;
    

}

.titulo-nav:not(:hover) {
    transition: 500ms;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


#logo {
    width: 70px;
    height: 70px;
}
 
.div2 {
    background: var(--cor-branco);
    height: 2100px;
    width: 800px;
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.div3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    position: relative;
    left: 200px;
    margin-top: 40px;
    

}
.formato,p {
    padding: 15px;

}
.organ,ol {
    position: relative;
    left:30px;
}
.mag,img {
    margin: 10px;
}
.bank {
    border: solid var(--cor-fundo-);
    width: min-content;
    margin: 20px;
    font-weight: bold;
}
.email {
    border: double var(--cor-fundo-);
    width: fit-content;
}

.imgw {
    width: 150px;
    position: relative;
    left: -20px;
    cursor: pointer;
}
.esp {
    margin: 12px;
}

/* FOOTER */

footer{
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Segoe UI';
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.9rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: var(--cor-fundo-);
}

.logo-footer{
    width: 65px;
    height: 65px;
    
}

.footer-bottom{
    background: #000;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
